/* 
---------- google font kodu --- 
font-family: 'Roboto', sans-serif;
font-family: 'Roboto Slab', serif; 
---- */

body{
    background-color: #EEEEEE;
}

/* başlık */

.baslik {
    text-align: center;
    color: #393E46;
}


/* ürünler resim ayarları */
.product-pic {
    border: 2px solid #ddd;
    border-radius: 15%;
    border-color: black;
    background-color: white;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    width: auto;
    height: 185px;
    margin-left: auto;
    margin-right: auto;
    display: block;
}


.header-baslik {
    text-align: center;
    color: #00ADB5;
    font-family: 'Roboto Slab', serif;
}

/* Linklere tıklanıldığındaki renkleri değiştirme */
a:visited {  
    color: #185ADB;  
     }  
     a:hover{  
    color: #00ADB5;  
     }  
     a:active{  
    color: red;  
     }  


/* İletişim resim ve yazı */

.iletisim-pic {
    border: 2px solid #ddd;
    border-radius: 5%;
    border-color: black;
    background-color: white;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    width: auto;
    height: 285px;
    margin-left: auto;
    margin-right: auto;
    display: block;
}

.iletisim-baslik {
    text-align: center;
    color: #00ADB5;
    font-family: 'Roboto Slab', serif;
}

/* 
----------------- dil değiştirme buton ve bayrak ayarı ----------------------
*/

#TR {
    text-align: right;
    display:inline-flex;
    font-size: 14px;
    float: right;
    margin-right: 10px;
    margin-top: 0px;
}

/* türk bayrağı */
#flag1 {
    object-position: right;
    height: 13px;
    width: 23px;
    border: 1px solid black;
}

/* ingliz bayrağı */
#flag2 {
    object-position: right;
    height: 12px;
    width: auto;
    border: 1px solid black;
    
}

/* 

-----------------anasayfa ürün resimleri ayarları ----------------------

*/

/*gitar resim */ 
#product-main1 {
    border: 3px solid #ddd;
    border-radius: 15%;
    border-color: black;
    background-color: white;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    height: 280px;
    width: auto;
    position: absolute;
    margin-top: 25px;
    margin-left: 55px;
}

/* keman resim */
#product-main2 {
    border: 3px solid #ddd;
    border-radius: 20%;
    border-color: black;
    background-color: white;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    height: 280px;
    width: 160px;
    margin-left: 400px;
    position: sticky;
    margin-top: 25px;
}

/*piyano resim */
#product-main3 {
    border: 3px solid #ddd;
    border-radius: 20%;
    border-color: black;
    background-color: white;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    height: 280px;
    width: auto;
    margin-left: 650px;
    position: absolute;
    margin-top: -290px;
}

/*nefesliler resim */
#product-main4 {
    border: 3px solid #ddd;
    border-radius: 20%;
    border-color: black;
    background-color: white;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    height: 280px;
    width: auto;
    margin-left: 20px;
    position: absolute;
    margin-top: 50px;
}

/*davul resim*/
#product-main5 {
    border: 3px solid #ddd;
    border-radius: 20%;
    border-color: black;
    background-color: white;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    height: 280px;
    width: auto;
    margin-left: 350px;
    position: absolute;
    margin-top: 50px;
}

/*aksesuarlar resim*/
#product-main6 {
    border: 3px solid #ddd;
    border-radius: 20%;
    border-color: black;
    background-color: white;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    height: 280px;
    width: auto;
    margin-left: 715px;
    position: absolute;
    margin-top: 50px;
}


/*
-------------------ana sayfa başlık ayarları -----------------------
*/

/* gitar ana başlık */
#main-baslik {
    color: #00ADB5;
    font-family: 'Roboto', sans-serif;
    font-family: 'Roboto Slab', serif;
    font-size: 20px;
    position: absolute;
    margin-top: -5px;
    margin-left: 110px;
}

/* yaylılar ana başlık */
#main-baslik2 {
    color: #00ADB5;
    font-family: 'Roboto', sans-serif;
    font-family: 'Roboto Slab', serif;
    font-size: 20px;
    position: absolute;
    margin-top: -5px;
    margin-left: 390px;
}

/* pianolar ana başlık */
#main-baslik3 {
    color: #00ADB5;
    font-family: 'Roboto', sans-serif;
    font-family: 'Roboto Slab', serif;
    font-size: 20px;
    position: absolute;
    margin-top: -320px;
    margin-left: 740px;
}
/* nefesliler ana başlık */
#main-baslik4 {
    color: #00ADB5;
    font-family: 'Roboto', sans-serif;
    font-family: 'Roboto Slab', serif;
    font-size: 20px;
    position: absolute;
    margin-top: 15px;
    margin-left: 110px;
}
/* davul ana başlık */
#main-baslik5 {
    color: #00ADB5;
    font-family: 'Roboto', sans-serif;
    font-family: 'Roboto Slab', serif;
    font-size: 20px;
    position: absolute;
    margin-top: 15px;
    margin-left: 400px;
}

/* aksesuarlar ana başlık */
#main-baslik6 {
    color: #00ADB5;
    font-family: 'Roboto', sans-serif;
    font-family: 'Roboto Slab', serif;
    font-size: 20px;
    position: absolute;
    margin-top: 15px;
    margin-left: 750px;
}

/* ürünler ana başlık ayarları */
.product-name {
    color: #00ADB5;
    text-align: center;
    font-family: 'Roboto', sans-serif;
    font-family: 'Roboto Slab', serif;
    font-size: 20px;
    font-weight: bold;
}

/* ürünler alt başlık ayarları */
.baslik2 {
    color: #00ADB5;
    text-align: left;
    font-family: 'Roboto', sans-serif;
    font-family: 'Roboto Slab', serif;
    font-size: 20px;
}

/* ürünler yazı ayarları */
.product-info {
    color: #222831;
    text-align: left;
    font-family: 'Roboto', sans-serif;
    font-family: 'Roboto Slab', serif;
    font-size: 12px;
}

/* sayfalar arası geçiş başlıkları */

.link-baslik {
    text-align: center;
    font-family: 'Roboto', sans-serif;
    font-family: 'Roboto Slab', serif;
    font-size: 16px;
}

/* liste başlıkları */
#SV200 {
    color: #616366;
    font-family: 'Roboto', sans-serif;
    font-family: 'Roboto Slab', serif;
    font-size: 12px;
}

/*şekilli mid başlık */
#Bechstein {
    color: #616366;
    font-family: 'Roboto', sans-serif;
    font-family: 'Roboto Slab', serif;
    font-size: 18px;
    text-align: center;
}

/* hakkinda yazısı */

.hakkinda {
    color: #222831;
    font-family: 'Roboto', sans-serif;
    font-family: 'Roboto Slab', serif;
    font-size: 18px;
}

.hakkinda-baslik {
    color: #00ADB5;
    font-family: 'Roboto', sans-serif;
    font-family: 'Roboto Slab', serif;
    font-size: 30px;
    text-align: center;
}