body{
    background-color: var(--primary-color);
    color: var(--secondary-color);
    color: var(--third-color);
    color: var(--fourth-color);
    min-height:130vh;
    font-size: 15px;
    font-family: 'Roboto', sans-serif;
    font-family: 'Roboto Slab', serif;
}

/* Ana tema renkleri */
:root{
    --primary-color: #F8F4EA;
    --secondary-color: #579BB1;
    --third-color: #E1D7C6;
    --fourth-color: #ECE8DD;
    --fifth-color: #00ADB5;
    --sixth-color: #000000;
}

/* dark tema renkleri */
.dark-theme{
    --primary-color: #222831;
    --secondary-color: #EEEEEE;
    --third-color: #393E46;
    --fourth-color: #5d646e;
    --fifth-color: #ECE8DD;
    --sixth-color: #E3FDFD;
}

.top{
    text-align: center;
    font-family: 'Roboto', sans-serif;
    font-family: 'Roboto Slab', serif;
    background-color: var(--third-color);
    color: var(--secondary-color);
    background-size: fill;
    height: 180px;
    width: 100%;
    margin: 0px;
    /* padding-right: 10px; */
}

/* Üst logo */
.left-logo{
    /* background-color: #185ADB; */
    display: inline-flex;
    /* top - sağ - alt - sol */
    margin: 5px 0px 0px 50px;
    order: 1;
    float: left;
}

.logo{
    height: 180px;
    border-radius: 25%;
}

/*dark tema buttonu */
.dark{
    /* background-color: coral; */
    display: inline-flex;
    order: 3;
    float: right;
    padding: 5px 0px 0px 5px;
}

.moon{
    height: 50px;
    display: inline-block;
    order: 3;
}

/******************** Ana Sayfa - Ürünler - İletişim *************/
.main-title{
    /* background-color: yellowgreen; */
    color: var(--secondary-color);
    padding: 20px;
    margin-top: 50px;
    order: 2;
    display: inline-flex;
    height: 100px;
    /* margin-left: 50%;
    margin-right: 50% */
}

.anasayfa{
    text-decoration: none;
    font-size: 30px;
    font-weight: bold;
    padding-right: 50px;
}

.urunler{
    text-decoration: none;
    font-size: 30px;
    font-weight: bold;
    padding-right: 50px;
}

.iletisim{
    text-decoration: none;
    font-size: 30px;
    font-weight: bold;
    padding-right: 50px;
}

.hakkinda{
    text-decoration: none;
    font-size: 30px;
    font-weight: bold;
    padding-right: 50px;
}

/********************** dil değişikliği En ->  Tr bölümü **************/
.en-tr{
    /* background-color: #00ADB5; */
    text-align: right;
    order: 4;
    display: inline-flex;
    height: 40px;
    float: right;
    padding-top: 10px;
}

/* En Bayrak resim */
.english{
    height: 30px;
    width: 50px;
    padding: 4px 5px 0px 5px;
}

/* En text */
.en-text{
    color: var(--secondary-color);
    font-size: 30px;
    text-decoration: none;
    font-family: 'Roboto', sans-serif;
    font-family: 'Roboto Slab', serif;
    font-weight: bold;
    padding: 10 0;
}

/************* Linklere tıklanıldığındaki renkleri değiştirme **************/
a:visited {  
    color: var(--secondary-color);  
     }  
     a:hover{  
    color: #00ADB5;  
     }  
     a:active{  
    color: red;  
}  

/*************************** Ana bölüm ****************************/
.urunler-baslik{
    color: var(--secondary-color);
    text-decoration: none;
    font-family: 'Roboto', sans-serif;
    font-family: 'Roboto Slab', serif;
    font-weight: bold;
    font-size: 35px;
}

.alt-baslik{
    color: var(--fifth-color);
    font-family: 'Roboto', sans-serif;
    font-family: 'Roboto Slab', serif;
    font-weight: bold;
    font-size: 25px;
}

.product-info{
    color: var(--sixth-color);
    font-family: 'Roboto', sans-serif;
    font-family: 'Roboto Slab', serif;
    font-size: 15px;
}

.product-pic{
    height: 400px;
    width: auto;
    background-color: var(--fourth-color);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 50px;
}









/************** Footer ***************************/
.footer{
    bottom: 0;
    position: absolute;
    width: 100%;
    justify-content: space-evenly;
    position: fixed;
    bottom: 0;
    width: 100%;
    text-align: center;
}

.bot-title{
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
    padding: 1rem;
    background-color: var(--third-color);
    text-align: center;
}

.bot-anasayfa{
    text-decoration: none;
    font-size: 15px;
    font-weight: bold;
    padding-right: 50px;
}

.bot-urunler{
    text-decoration: none;
    font-size: 15px;
    font-weight: bold;
    padding-right: 50px;
}

.bot-hakkinda{
    text-decoration: none;
    font-size: 15px;
    font-weight: bold;
    padding-right: 50px;
}

.bot-iletisim{
    text-decoration: none;
    font-size: 15px;
    font-weight: bold;
    padding-right: 50px;
}

.bot-takimimiz{
    text-decoration: none;
    font-size: 15px;
    font-weight: bold;
    padding-right: 50px;
}